- 
	var translations = { 
		"Godkiller": "Godkiller",
	};

mixin t(text)
	- if ( typeof(translations[text]) == "undefined" ) { translations[text] = text; }
	span(data-i18n=text)&attributes(attributes) #{text}
	| 

mixin select(f)
	select(name='attr_'+f class!=attributes.class)
		if block
			block

mixin option(t,v)
	- if ( typeof(translations[t]) == "undefined" ) { translations[t] = t; }
	if ( typeof(v) == "undefined" )
		option(data-i18n=t)
	else
		option(value=v data-i18n=t)

mixin translations
	- var contents = JSON.stringify(translations,null,"\t");
	//
		translation.json:
		!{contents}

mixin text(f)
	input(type='text' name='attr_'+f class!=attributes.class)

mixin textarea(f)
	textarea(name='attr_'+f class!=attributes.class)
		if block
			block

mixin display(f)
	span(name="attr_"+f class!=attributes.class)
		if block
			block

mixin flabel(t)
	div.flabel
		+t(t)
		if block
			block

mixin fieldset(f)
	fieldset(class="repeating_"+f)
		if block
			block

mixin cbox(f)
	+thider(f)
	button(type="action" name="act_unmark" value=f).cbox.marked
	+tshower(f)
	button(type="action" name="act_mark" value=f).cbox.unmarked
mixin dbox(f)
	+thider(f)
	button(type="action" name="act_unmark" value=f).dbox.marked
	+tshower(f)
	button(type="action" name="act_mark" value=f).dbox.unmarked

mixin thider(f)
	input(name="attr_toggle_"+f type="hidden" class="thider" value="0")

mixin tshower(f)
	input(name="attr_toggle_"+f type="hidden" class="tshower" value="0")
