// mixins
- 
	var translations = { 
		"Series Playset": "Series Playset",
		"Choose a Series Playset": "(Choose a Series Playset)",
		"Choose a Playset": "(Choose a Playset)",
		"At the Brink of the Abyss": "At the Brink of the Abyss", 
		"Beneath a Rotting Sky": "Beneath a Rotting Sky", 
		"On a Sea of Stars": "On a Sea of Stars", 
		"In a Maze of Dreams": "In a Maze of Dreams",
		"Select a Playbook": "(Select a Playbook)",
	};

mixin translate(text)
	if text !== ''
		- 
			var rtext = text.replace(/<[^>]*>/g,'');
			if ( rtext !== text ) {
				translations[rtext] = text;
				text = rtext;
			}
			if ( typeof(translations[text]) == "undefined" ) { translations[text] = text; }
		span(data-i18n=text)&attributes(attributes)
	//- | 

mixin option(t,v)
	- 
		var rtext = t.replace(/<[^>]*>/g,'');
		if ( rtext !== t ) {
			translations[rtext] = t;
			t = rtext;
		}
		if ( typeof(translations[t]) == "undefined" ) { translations[t] = t; }
	if ( typeof(v) == "undefined" )
		option(value=t data-i18n=t)
	else
		option(value=v data-i18n=t)

mixin translations
	- var contents = JSON.stringify(translations,null,"\t");
	//
		translation.json:
		!{contents}
		END_TRANSLATIONS

mixin input(a)
	input(name="attr_"+a)&attributes(attributes)

mixin hidden(a,v)
	- if ( typeof(v) == "undefined" ) { v = ""; }
	+input(a)(type="hidden", value=v)&attributes(attributes)

mixin display(a)
	+hidden(a)
	span(name="attr_"+a)&attributes(attributes)

mixin text(a,v)
	- if ( typeof(v) == "undefined" ) { v = ""; }
	+input(a)(type="text", value=v)&attributes(attributes)

mixin select(a)
	select(name="attr_"+a)&attributes(attributes)
		block

mixin textarea(a)
	textarea(name="attr_"+a)&attributes(attributes)

mixin toggle(a,v)
	- if ( typeof(v) == "undefined" ) { v = 0; }
	+hidden(a)(value=v).sheet-hide-on-zero
	button(type="action",name="act_"+a).sheet-button-header-expand
	+hidden(a)(value=v).sheet-hide-on-one
	button(type="action",name="act_"+a).sheet-button-header-collapse

mixin hideUnmarked(a)
	+hidden(a)(value=0).sheet-hide-on-zero
	button(type="action",name="act_"+a).sheet-button-header-mark-on
	+hidden(a)(value=0).sheet-hide-on-one
	button(type="action",name="act_"+a).sheet-button-header-mark-off

mixin abilityMark(a)
	+hidden(a)(value=0).sheet-hide-on-zero
	button(type="action",name="act_"+a).sheet-button-mark-on
	+hidden(a)(value=0).sheet-hide-on-one
	button(type="action",name="act_"+a).sheet-button-mark-off

mixin stressMark(a)
	+hidden(a)(value=0).sheet-hide-on-zero
	button(type="action",name="act_"+a).sheet-button-stress-on
	+hidden(a)(value=0).sheet-hide-on-one
	button(type="action",name="act_"+a).sheet-button-stress-off

mixin starMark(a)
	+hidden(a)(value=0).sheet-hide-on-zero
	button(type="action",name="act_"+a).sheet-button-transcendent-on
	+hidden(a)(value=0).sheet-hide-on-one
	button(type="action",name="act_"+a).sheet-button-transcendent-off

mixin hideUnmarkedTranscendent(a)
	+hidden(a)(value=0).sheet-hide-on-zero
	button(type="action",name="act_"+a).sheet-button-header-transcendent-on
	+hidden(a)(value=0).sheet-hide-on-one
	button(type="action",name="act_"+a).sheet-button-header-transcendent-off

mixin abilityMarkTranscendent(a)
	+hidden(a)(value=0).sheet-hide-on-zero
	button(type="action",name="act_"+a).sheet-button-transcendent-on
	+hidden(a)(value=0).sheet-hide-on-one
	button(type="action",name="act_"+a).sheet-button-transcendent-off

mixin xptrack(a,l)
	- var i = 1;
	while i <= l
		+hidden(a+'-'+i)(value=0).sheet-hide-on-zero
		button(type="action",name="act_"+a+'-'+i).sheet-button-xp-on
		+hidden(a+'-'+i)(value=0).sheet-hide-on-one
		button(type="action",name="act_"+a+'-'+i).sheet-button-xp-off
		- i++;