- 
	var translations = { 
		"choose a playbook": "Choose a Playbook",
		"fallen": "The Fallen",
		"found": "The Found",
		"hungry": "The Hungry",
		"last": "The Last",
		"shade": "The Shade",
		"summoned": "The Summoned",
		"surge": "The Surge",
		"untethered": "The Untethered",
		"chained": "The Chained",
		"betrayed": "The Betrayed",
		"summoned ruin move": "Summoned Ruin Move",
		"shade ruin move": "Shade Ruin Move",
		"surge ruin move": "Surge Ruin Move",
		"found ruin move": "Found Ruin Move",
		"last ruin move": "Last Ruin Move",
		"fallen ruin move": "Fallen Ruin Move",
		"hungry ruin move": "Hungry Ruin Move",
		"untethered ruin move": "Untethered Ruin Move",
		"chained ruin move": "Chained Ruin Move",
		"betrayed ruin move": "Betrayed Ruin Move",
		"Experience and Ruin": "XP and Ruin",
		"Character Creation Options": "Character Options",
		"Move Index": "Moves List",
		"Starting Playbook Moves": "Starting",
		"Playbook Moves": "Playbook",
		"Ruin Moves": "Ruin",
		"DIVISION Moves": "DIVISION",
		"Basic Moves": "Basic",
	};

mixin translate(text)
	- if ( typeof(translations[text]) == "undefined" ) { translations[text] = text; }
	span(data-i18n=text)&attributes(attributes) #{text}
	| 

mixin option(t,v)
	- if ( typeof(translations[t]) == "undefined" ) { translations[t] = t; }
	if ( typeof(v) == "undefined" )
		option(data-i18n=t)
	else
		option(value=v data-i18n=t)

mixin translations
	- var contents = JSON.stringify(translations,null,"\t");
	//
		translation.json:
		!{contents}

mixin briefmove(movekey,pb,check)
	- if ( typeof(check) == "undefined" ) { check = "yes"; }
	- var pbmode = true;
	- if ( typeof(pb) == "undefined" || pb == "" ) { pbmode = false; }
	- var movetext = movekey
	- movekey = movekey.toLowerCase();
	- movekey = movekey.replace(/[^a-z0-9]/g,"_");
	- if ( check == "yes" )
		- if ( pbmode )
			input(type='hidden' name='attr_playbook' class='moveselector' value='')
		input(type='hidden' name='attr_check_'+movekey class='movemark' value='0')
	- var pbkey = ''; if ( pbmode ) { pbkey = 'pb'+pb; }
	div(class=pbkey)
		if ( check == "yes" )
			input(type='hidden' name='attr_check_'+movekey class='checker' value="0")
		div.move
			div.buttons
				- if ( check == "yes" )
					input(type='hidden' name="attr_check_"+movekey value="0" class="toggle")
					+button()(type='action' name='act_uncheck' value=movekey class="checked colorized")
					+button()(type='action' name='act_check' value=movekey class="unchecked colorized")
				input(type='hidden' name="attr_view_"+movekey value="0" class="toggle")
				a.viewable.tipper(href="#jumpmove_"+movekey)
					span.icon.document 
					span(class="tipped tipleft")
						+translate("Jump to this move")
				+button("show this move","left")(type='action' name='act_view' value=movekey class="view colorized")
			div.text
				span
					input(class="toggle" type="hidden" name="attr_view_"+movekey value="0")
					a(href="#header"+movekey)(class="fglink tipper")
						+translate(movetext)
						div(class="tipped tipunder")
							+translate("Jump to this move")
					+translate(movetext)
				if ( pbmode )
					input(type='hidden' name='attr_playbook' class='pbunselector' value='')
					br
					span(class='pb'+pb+' pbid')
						| (
						+translate(pb)
						| )

// movekey: text of the move name, which is converted to a key for fields
// context: the (prior-to-translation) text indicating context, such as playbook name
// selectable: it can have a checkbox to be selected or not
// dismissable: it can be dismissed from view

mixin move(movekey,context,selectable,dismissable)
	- var movetext = movekey
	- movekey = movekey.toLowerCase();
	- movekey = movekey.replace(/[^a-z0-9]/g,"_");
	- if ( typeof(selectable) == "undefined" || selectable == "" ) { selectable = false; } else { selectable = true; }
	- if ( typeof(dismissable) == "undefined" || dismissable == "" ) { dismissable = false; } else { dismissable = true; }
	- if ( typeof(context) == "undefined" ) { context = ""; }
	.section
		a(name="jumpmove_"+movekey)
		input(type='hidden' name='attr_view_'+movekey value='0' class='view')
		.viewable
			+expandablesub(movetext,dismissable,'',selectable)
				if ( context !== "" )
					.footnote.italic.colorized.spaceunder
						+translate(context)
				block

// checkerbox is specific to hiding-all-moves-that-have-been-not-checked, see ApocalypseKeys.pug for the +expandablesub for Playbook Moves

mixin expandable(t,s,dismiss,checkerbox,selectable)
	- var key = t;
	- key = key.toLowerCase();
	- key = key.replace(/[^a-z0-9]/g,"_");
	- if ( typeof(s) == "undefined" ) { s = ""; }
	- if ( typeof(dismiss) == "undefined" || dismiss == "" ) { dismiss = false; } else { dismiss = true; }
	- if ( typeof(selectable) == "undefined" || selectable == "" ) { selectable = false; } else { selectable = true; }
	- if ( typeof(checkerbox) == "undefined" ) { checkerbox = ""; }
	a(name="header"+key)
	div(class=s+"header")
		if ( selectable )
			input(type='hidden' name="attr_check_"+key value="0" class="toggle")
			+button("unmark this","left")(type='action' name='act_uncheck' value=key class="checked hfade")
			+button("mark this","left")(type='action' name='act_check' value=key class="unchecked hfade")
		+translate(t)(class="title")
		if ( checkerbox !== "" )
			input(type='hidden' name="attr_check_"+checkerbox value="0" class="toggle")
			+button("Showing checked only","right")(type='action' name='act_uncheck' value=checkerbox class="checked hfade")
			+button("Showing checked and unchecked","right")(type='action' name='act_check' value=checkerbox class="bothchecks hfade")
		// if dismiss is true and selectable is false, we're good to go
		if ( dismiss && ! selectable )
			+button("hide this")(type='action' name='act_unview' value=key class="dismiss hfade")
			| &nbsp;
		// if dismiss is true and selectable is true, we want to expose the dismiss option only if the item is not *currently* selected
		if ( dismiss && selectable )
			span
				input(type='hidden' name="attr_check_"+key value="0" class="antiview")
				span.viewable
					+button("hide this","right")(type='action' name='act_unview' value=key class="dismiss hfade")
					| &nbsp;
		input(type='hidden' name="attr_expand_"+key value="1" class="toggle")
		+button("collapse this section","right")(type='action' name='act_contract' value=key class="contract hfade")
		+button("expand this section","right")(type='action' name='act_expand' value=key class="expand hfade")
	.section
		input(type='hidden' name="attr_expand_"+key value="1" class="rollup")
		.section.roller
			block

mixin expandablesub(t,d,c,s)
	+expandable(t,"sub",d,c,s)
		block

mixin fixed(t,s)
	- if ( typeof(s) == "undefined" ) { s = ""; }
	- var key = t;
	- key = key.toLowerCase();
	- key = key.replace(/[^a-z0-9]/g,"_");
	a(name="header"+key)
	div(class=s+"header fixed")
		+translate(t)(class="title")
	.section
		block

mixin fixedsub(t)
	+fixed(t,"sub")
		block

- var rolldarks = 0;

mixin rolldark(t)
	- rolldarks = rolldarks + 1;
	div.rollspend
		div.titlebar
			input(type='hidden' name="attr_expand_rolldark"+rolldarks value="0" class="toggle")
			+button("hide the roll widget","left")(type='action' name='act_contract' value="rolldark"+rolldarks class="contract ")
				| &nbsp;&nbsp;&nbsp;&nbsp;
				+translate("Spend and Roll")(class="bold")
			+button("show the roll widget","left")(type='action' name='act_expand' value="rolldark"+rolldarks class="expand ")
				| &nbsp;&nbsp;&nbsp;&nbsp;
				+translate("Spend and Roll")(class="bold")
		input(type='hidden' name="attr_expand_rolldark"+rolldarks value="0" class="rollup")
		.roller
			div
				+button("click to roll","left")(type='action' name='act_rolldicedark' value=t class="dice ")
				|
				| +
				input(name="attr_darkness_spend" value="0" min="0" max="3" type="number" class="narrower")
				span.footnote
					+translate("Darkness Tokens")
					+translate("(max 3)")
			div
				span.dicespace
				|
				| +
				input(name="attr_dark_added_bonus" value="0" type="number" class="narrower")
				span.footnote
					+translate("any other bonuses or penalties")
				+button("click to roll","right")(type='action' name='act_rolldicedark' value=t class="dice ")
			input(type="hidden" name="attr_view_recent_roll" value="0" class="toggle")
			div.viewable
				div.divlinetop
					+button("once you're finished with the roll, click this to hide it","left")(type='action' name='act_unview' value="recent_roll" class="dismiss dicespace")
					input(type="hidden" name="attr_recent_roll" value="")
					input(type="hidden" name="attr_recent_roll_result" value="")
					+translate("Last roll")
					| (
					span(name="attr_recent_roll")
					| ) = 
					| 
					span(name="attr_recent_roll_result")
				+spendbondsbox(t)
			div.footnote
				input(name="attr_darkness_tokens" type="hidden")
				span(name="attr_darkness_tokens")
				| 
				+translate("Darkness Tokens currently available.")
				br
				+translate("Enter the amount to spend and click the dice.")

- var rollcustoms = 0;

mixin rollcustom(t,bonds,btext)
	- rollcustoms = rollcustoms + 1;
	- if ( typeof(bonds) == "undefined" || bonds ) { bonds = true; } else { bonds = false; }
	- if ( typeof(btext) == "undefined" ) { btext = ""; }
	div.rollspend
		div.titlebar
			input(type='hidden' name="attr_expand_rollcustom"+rollcustoms value="0" class="toggle")
			+button("collapse the roll widget","left")(type='action' name='act_contract' value="rollcustom"+rollcustoms class="contract ")
				| &nbsp;&nbsp;
				+translate("Custom Roll")(class="bold")
			+button("show the roll widget","left")(type='action' name='act_expand' value="rollcustom"+rollcustoms class="expand ")
				| &nbsp;&nbsp;
				+translate("Custom Roll")(class="bold")
		input(type='hidden' name="attr_expand_rollcustom"+rollcustoms value="0" class="rollup")
		.roller
			div
				+button("click to roll","left")(type='action' name='act_rolldicecustom' value=t class="dice ")
				|
				| +
				input(name="attr_custom_bonus" value="0" type="number" class="narrower")
				span.footnote
					if btext !== ""
						+translate(btext)
			div
				span.dicespace
				|
				| +
				input(name="attr_custom_added_bonus" value="0" type="number" class="narrower")
				span.footnote
					+translate("any other bonuses or penalties")
				+button("click to roll","right")(type='action' name='act_rolldicecustom' value=t class="dice ")
			input(type="hidden" name="attr_view_recent_roll" value="0" class="view")
			div.viewable
				div.divlinetop
					+button("once you're finished with the roll, click this to hide it","left")(type='action' name='act_unview' value="recent_roll" class="dismiss dicespace")
					input(type="hidden" name="attr_recent_roll" value="")
					input(type="hidden" name="attr_recent_roll_result" value="")
					+translate("Last roll")
					| (
					span(name="attr_recent_roll")
					| ) = 
					| 
					span(name="attr_recent_roll_result")
				if bonds
					+spendbondsbox(t)

mixin spendbondsbox(t)
	div
		input(type='hidden' name="attr_expand_roll_bonds" value="1" class="spacetoggle")
		.titlebar.subtitle
			input(type='hidden' name="attr_expand_roll_bonds" value="1" class="toggle")
			+button("collapse bonds","left")(type='action' name='act_contract' value="roll_bonds" class="contract ")
				| &nbsp;&nbsp;
				+translate("Spend bonds?")(class="bold")
			+button("expand (if you wish to modify the roll results with bonds)","left")(type='action' name='act_expand' value="roll_bonds" class="expand ")
				| &nbsp;&nbsp;
				+translate("Spend bonds?")(class="bold")
		div
			input(type='hidden' name="attr_expand_roll_bonds" value="1" class="rollup")
			.roller
				.bondspend.footnote
					fieldset(class="repeating_bonds")
						.spendline
							| ( + or – )
							input(type="hidden" name="attr_points")
							input(type="hidden" name="attr_bondname")
							input(type="number" name="attr_spend" class="narrower footnote" value="0")
							|(
							span(name="attr_points")
							|)  
							span(name="attr_bondname")
				input(type="hidden" name="attr_bond_mod_summary")
				input(type="hidden" name="attr_bond_mod" class="nullview")
				.viewable
					+button()(type='action' name='act_spendbonds' value=t class="enact bold topspace")
						| 
						+translate("Spend:")
						span(name="attr_bond_mod_summary")
					div(style="padding-left: 21px;")
						+translate("Once you commit to the adjustment, bonds will be reduced and the adjusted roll displayed in chat.")(class="footnote")

mixin minihead(title)
	div.minihead
		+translate(title)
	div
		block

mixin checkable(item,updatefield,checkgroup)
	+multicheckable(item,1,updatefield,checkgroup)

- var checkables = { "": 0 };
mixin multicheckable(item,qty,updatefield,checkgroup,maxq)
	- if ( typeof(checkgroup) == "undefined" ) { checkgroup = ""; }
	- if ( typeof(checkables[checkgroup]) == "undefined" ) { checkables[checkgroup] = 0; }
	- if ( typeof(updatefield) == "undefined" ) { updatefield = ""; }
	- if ( typeof(maxq) == "undefined" ) { maxq = qty; }
	- var boxes = 0;
	while boxes < qty
		- boxes++;
		- checkables[checkgroup] = checkables[checkgroup] + 1;
		- var ckey = "checkable"+checkgroup+"_"+checkables[checkgroup];
		input(type="hidden" name="attr_check_"+ckey value="0" class="masker")
	- boxes = 0; checkables[checkgroup] = checkables[checkgroup] - qty;
	div(class="checklist"+maxq+"box")
		div.buttons
			while boxes < qty
				- boxes++;
				- checkables[checkgroup] = checkables[checkgroup] + 1;
				- var ckey = "checkable"+checkgroup+"_"+checkables[checkgroup];
				- var vkey = ckey;
				- if ( updatefield !== "" ) { vkey = ckey + "|" + updatefield + "=" + item; }
				- var extra = "";
				input(type='hidden' name="attr_check_"+ckey value="0" class="toggle")
				if boxes < qty
					- extra = " tightright";
				button(class="checked"+extra type='action' name='act_unchecklist' value=vkey)
				button(class="unchecked"+extra type='action' name='act_checklist' value=vkey)
		div.text
			+translate(item)

- var blankcons = { "": 0 }; 
mixin condition(con,blank,locked,temporary)
	- var key = con;
	- if ( typeof(blank) == "undefined" || blank == "" ) { blank = false; } else { var bpre = ""; if ( blank != true ) { bpre = blank; blank = true; if ( typeof(blankcons[bpre]) == "undefined") { blankcons[bpre] = 0; } } blankcons[bpre] = blankcons[bpre] + 1; key = "blank"+bpre+blankcons[bpre]; }
	- if ( typeof(locked) == "undefined" || locked == "" ) { locked = false; } else { locked == true; }
	- if ( typeof(temporary) == "undefined" || temporary == "" ) { temporary = false; } else { temporary == true; }
	- key = key.toLowerCase();
	- key = key.replace(/[^a-z0-9]/g,"_");
	- ckey = "condition_"+key;
	- bkey = ckey + "_text";
	div.checklist1box
		div.buttons
			- if ( locked )
				// Simply establish that this field is always checked, but don't provide buttons to make it toggle-able.
				input(type='hidden' name="attr_check_"+ckey value="1")
				div.tipper
					span.icon.checked
					div.tipped.tipleft.smalltip
						+translate("locked")
			- else
				input(type='hidden' name='attr_lock_'+ckey value="0" class='toggle')
				div.tipper
					span.icon.checked
					div.tipped.tipleft.smalltip
						+translate("locked")
				div
					input(type='hidden' name="attr_check_"+ckey value="0" class="toggle")
					- if ( blank )
						+button()(type='action' name='act_unchecklist' value=ckey+"|current_conditions=>"+bkey class="checked ")
						+button()(type='action' name='act_checklist' value=ckey+"|current_conditions=>"+bkey class="unchecked ")
					- else
						+button()(type='action' name='act_unchecklist' value=ckey+"|current_conditions=>"+bkey class="checked ")
						+button()(type='action' name='act_checklist' value=ckey+"|current_conditions=>"+bkey class="unchecked ")
						// Below is how we used to do it — until all conditions had to become text fields!
						// +button()(type='action' name='act_unchecklist' value=ckey+"|current_conditions="+con class="checked ")
						// +button()(type='action' name='act_checklist' value=ckey+"|current_conditions="+con class="unchecked ")
		div.conditiontext
			- if ( blank ) 
				- if ( locked )
					input(type='hidden' name="attr_"+bkey)
					span(name='attr_'+bkey)
				- else
					- if ( temporary )
						+translate("Temporary:")
					input(type='text' name="attr_"+bkey)
			- else
				input(type='text' name="attr_"+bkey value=con)
				// +translate(con)
				- if ( temporary )
					+translate("(Temporary)")
		div.buttons
			- if ( locked )
				// Simply establish that this field is always checked, but don't provide buttons to make it toggle-able.
				div.tipper
					span.icon.locked
					div.tipped.tipleft.midtip
						+translate("locked (permanent)")
			- else 
				input(type='hidden' name="attr_check_"+ckey value="0" class="view")
				div.viewable
					input(type='hidden' name='attr_lock_'+ckey value="0" class="toggle")
					+button("locked (click to unlock)","left smalltip")(type='action' name='act_unlock' value=ckey class="locked ")
					+button("unlocked","left smalltip")(type='action' name='act_lock' value=ckey class="unlocked ")

mixin xp(n,t)
	+button("click to gain","over smalltip")(type='action' name='act_addxp' value=n class="enact colorized")
		if typeof(t) == "undefined"
			span.bold
				| #{n}&nbsp;
			+translate("XP")(class="bold")
		else
			+translate(t)&attributes(attributes)
	| 
		
mixin spendxp(n)
	+button("click to spend","over smalltip")(type='action' name='act_spendxp' value=n class="enact colorized")
		span.bold
			| #{n}&nbsp;
		+translate("XP")(class="bold")
	| 

mixin ruin(n,t)
	+button("click to gain","over smalltip")(type='action' name='act_addruin' value=n class="enact colorized")
		if typeof(t) == "undefined"
			span.bold
				| #{n}&nbsp;
			+translate("Ruin")(class="bold")
		else
			+translate(t)&attributes(attributes)
	| 

mixin spendruin(n,t)
	+button("click to spend","over smalltip")(type='action' name='act_spendruin' value=n class="enact colorized")
		if typeof(t) == "undefined"
			span.bold
				| #{n}&nbsp;
			+translate("Ruin")(class="bold")
		else
			+translate(t)&attributes(attributes)
	| 

mixin dark(n)
	+button("click to gain","over smalltip")(type='action' name='act_adddark' value=n class="enact colorized")
		span.bold
			| #{n}&nbsp;
		- var tokens = "Tokens"
		- if ( (parseInt(n)||0) == 1 ) { tokens = "Token"; }
		+translate("Darkness "+tokens)(class="bold")
	| 
		
mixin spenddark(n,t)
	+button("click to spend","over smalltip")(type='action' name='act_spenddark' value=n class="enact colorized")
		if typeof(t) == "undefined"
			span.bold
				| #{n}&nbsp;
			- var tokens = "Tokens"
			- if ( (parseInt(n)||0) == 1 ) { tokens = "Token"; }
			+translate("Darkness "+tokens)(class="bold")
		else
			+translate(t)&attributes(attributes)
	| 

mixin pbinstruct()
	- var key = 'pbinstructions'
	input(type='hidden' name='attr_view_'+key value='1' class='view')
	.viewable
		+button("click to get rid of these instructions","left")(type='action' name='act_unview' value=key class="dismiss colorized")
		| 
		block

mixin headlink(t,k,x,icons)
	- if ( typeof(k) == "undefined" || k == "" ) { k = t; }
	- var key = k;
	- key = key.toLowerCase();
	- key = key.replace(/[^a-z0-9]/g,"_");
	- var xkey = "";
	- if ( typeof(x) == "undefined" ) { x = ""; }
	- if ( x != "" ) { xkey = x.toLowerCase().replace(/[^a-z0-9]/g,"_"); }
	- if ( typeof(icons) == "undefined" ) { icons = "icon document"; }
	if x == ""
		a(href="#header"+key class=icons)&attributes(attributes)
			+translate(t)
	else
		span
			input(class="toggle" type="hidden" name="attr_expand_"+xkey value="0")
			a(href="#header"+key)(class=icons)&attributes(attributes)
				+translate(t)
			a(href="#header"+xkey)&attributes(attributes)
				+translate(t)

mixin movelink(t,ot)
	- var key = t;
	- key = key.toLowerCase();
	- key = key.replace(/[^a-z0-9]/g,"_");
	- if ( typeof(ot) !== "undefined" && ot !== "" ) { t = ot; }
	span
		input(class="toggle" type="hidden" name="attr_view_"+key value="0")
		a(href="#header"+key)(class="icon document")
			+translate(t)(class="movename bold")
		+translate(t)(class="movename bold term")

- var clockcount = 0;
mixin doomclock(size,marked,name,translate)
	- if ( typeof(translate) == "undefined" || translate == "" ) { translate = false; } else { translate = true; }
	- var ckey;
	- if ( typeof(name) == "undefined" || name == "" ) { clockcount++; ckey = "clock"+clockcount; name = ""; } 
	- else { ckey = name.toLowerCase(); ckey = name.replace(/[^a-z0-9]/g,"_"); }
	- var cs = false;
	- if ( size == "select" ) { cs = true; size = 2; }
	div.centered
		input.clocksize(name="attr_"+ckey+"_clocksize" type="hidden" value=size)
		input.clocksegment(name="attr_"+ckey+"_clocksegment" type="hidden" value=marked)
		.doomclock
			.clockcontrol
				div
					div(style="text-align: center;")
						+button("erase one","under smalltip")(type="action" name="act_reduceclock" value=ckey class="counterclockwise ")
						+button("mark one","under smalltip")(type="action" name="act_addclock" value=ckey class="clockwise ")
						if cs
							br
							select(name="attr_"+ckey+"_clocksize" style="width: 3em")
								- var clocks = 0;
								while clocks < 12
									- clocks = clocks + 2;
									option(value=clocks) #{clocks}
		.clocktitle
			if translate
				+translate(name)
			else
				|#{name}
			|&nbsp;(
			span(name="attr_"+ckey+"_clocksegment")
			|/
			span(name="attr_"+ckey+"_clocksize")
			|)&nbsp;

mixin gainDT
	br
	+translate("Click to gain")(class="bold italic")
	br
	+dark(2)
	br
	+dark(3)
	br
	+dark(4)

mixin strikebox(t,blk)
	- var	key = t.toLowerCase().replace(/[^a-z0-9]/g,"_");
	- if ( typeof(blk) == "undefined" ) { blk = false; } else { blk = true; }
	.striker
		div.buttons
			input(type='hidden' name='attr_check_strikebox-'+key class='toggle' value="0")
			+button()(type='action' name='act_uncheck' value='strikebox-'+key class="checked colorized")
			+button()(type='action' name='act_check' value='strikebox-'+key class="unchecked colorized")
		div.text
			input(type='hidden' name='attr_check_strikebox-'+key class='stricken' value="0")
			if blk
				span
					block
			else
				+translate(t)

mixin button(tooltip,align)
	- var tipper = false;
	- if ( typeof(tooltip) !== "undefined" && tooltip !== "" ) { tipper = true; }
	- if ( typeof(align) == "undefined" || align == '' ) { align = ""; } else { align = "tip"+align; }
	if tipper
		span
			button.tipper&attributes(attributes)
				block
				div(class="tipped "+align)
					+translate(tooltip)
	else
		button&attributes(attributes)
			block